
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Offline Tienda </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/styles/main.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    
</head>
<body>
    <header>

        <section class="header_main">

                <article class="menu">

                    <nav class="logo">
                            <img src="/data/logooff.png" alt="logooff" width="150px" height="100px">
                    </nav>
            <nav>
                <ul>
                        <a href="views/products.html" class="product"><li>Productos</li></a>
                        <a href=""><li>Marcas</li></a>
                        <a href=""><li>Tiendas</li></a>
                        <a href=""><li>Contactos</li></a>
                </ul>
                   
            </nav>
            
            <nav class="menu_icon">
                   <input type="text">
                    <img class="search" src="/data/search.png" alt="search" width="50px" height="40px">
                    <img src="/data/user.png" alt="user" width="50px" height="40px">
            </nav>
            

        </article>

        <section class="home">

                <article class="home_menu_side">
                        <img src="/data/facebook.png" alt="facebook" width="40px" height="40px">
                        <img src="/data/instagram.png" alt="instagram" width="40px" height="45px">
                        <img src="/data/twitter.png" alt="twitter" width="40px" height="40px">
                </article>

                <article class="home_menu_description">
                        <img src="data/logooff.png" alt="logooff" width="245px" height="187px">
                        <p>Offline es una cadena de tienda<br>
                                deportiva colombiana, dedicada a la<br>
                                venta de prendas futboleras,<br>
                                ofreciendo un servicio rápido y<br>
                                eficiente, además de productos de la<br>
                                mejor calidad.</p>
                    </article>
        
                    
        </section>

        <section class="imgs-background">
        <button></button>
        <button></button>
        <button></button>
        <button></button>
        </section>
        

        </section>
        
    </header>  

    <section class="publicity">

        <article class="publicity_info">

                <h1>Hypervenom Phantom 2019</h1>
                <p>Nike trae las nuevas Hypervenom<br>
                Phantom, mayor ligereza, menor<br>
                resistencia.<br>
                Sé la estrella</p>
        
                <div>
                    <!--<a href="">Ir a la tienda</a>-->
                    <button type="button">Ir a la tienda</button>
                </div>
        </article>
        
    </section>

    <section class="characteristics">
        <article class="characteristics_one">
            <h2>Calidad</h2>
            <p>Nos destacamos a nivel nacional<br>
                    por ofrecer productos de la más<br>
                    alta calidad que garanticen una<br>
                    buena experiencia para nuestro<br>
                    cliente.</p>
        </article>
        <article class="characteristics_two">
            <h2>Variedad</h2>
            <p>Nuestro catálogo es bastante diverso,<br>
                con el propósito de que tengas la <br>
                posibilidad de elegir lo que te gusta.</p>
        </article>
        <article class="characteristics_three">
            <h2>Rapidez</h2>
            <p>Ofrecememos un servicio rápido<br>
            y eficaz para que tengas tus productos<br>
        lo más pronto posible.</p>
        </article>
    </section>

    <section class="brands">
        <article class="brands_adidas">
            <img src="data/pjanic.jpg" alt="Juventus-Adidas" width="788px" height="495px">
            <article class="brands_adidas_info">
                    <h2>Adidas</h2>
                    <p>Empresa alemana pionera en la
                            industria del<br> deporte. Famosa por
                            patrocinar equipos tan<br> importantes
                            como el Real Madrid,<br> Manchester
                            United, Juventus, etc...</p>
                    
                    <!--<a href="" class="button">Ver más</a>-->
                    <button type="button">Ver más</button>

            </article>
            
        </article>

        <article class="brands_nike">
            <article class="brands_nike_info">
                <h2>Nike</h2>
                <p>Empresa americana líder en la
                        industria<br> del deporte, se destaca por
                        sus productos<br> ligeros y llamativos.
                        Viste a equipos<br> como Barcelona,
                        Boca Juniors, <br>Inter de Milán, etc..</p>
                        
                <!--<a href="">Ver más</a>-->
                <button type="button">Ver más</button>

            </article>
            <img src="data/inter.jpg" alt="Inter - Nike" width="800px" height="505px">
        </article>

        <article class="brands_puma">
            <img src="data/arsenal.png" alt="Arsenal - Puma" width="730px" height="450px">
            <article class="brands_puma_info">
                <h2>Puma</h2>
                <p>Empresa alemana con un importante<br>
                        reconocimiento en la industria del
                        deporte,<br> se encarga de generar la
                        vestimenta para equipos<br> como
                        Borussia Dortmund, Arsenal, Milán,
                        etc...</p>

                <!--<a href="">Ver más</a>-->
                <button type="button">Ver más</button>

            </article>
        </article>
    </section>

    <footer>
        <article class="side_left">
            <h2>Nuestras tiendas</h2>
            <h2>Sobre Nosotros</h2>
        </article>
        <article class="side_center">
            <h2>Contactenos</h2>
            <article class="side_center_networks">
                    <img src="data/facebook.png" alt="facebook" width="40px" height="40px">
                    <img src="data/instagram.png" alt="instagram" width="40px" height="45px">
                    <img src="data/twitter.png" alt="twitter" width="40px" height="40px">
            </article>
            
        </article>
        <article class="side_right">
            <h2>Trabaja con nosotros</h2>
            <h2>Preguntas frecuentes</h2>
        </article>
    </footer>
    <script src="index.js"></script>
</body>
</html>